@import "../../index";

#notifications{
  @include flexbox(space-between);
  @extend %sombra;
  position        : absolute;
  top             : 4.5rem;
  right            : 0.5rem;
  width           : 20rem;
  height          : 10rem;
  padding         : 1rem;
  overflow-y      : auto;
  border-radius   : $esquina;
  line-height     : 1.3;
  background-color: white;
  z-index         : 10;

}